body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

/*Header & Nav */
.header {
  background: #343a40;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

.header-title {
  text-align: center;
  color: white;
}

header hr {
  border: 0;
  width: 300px;
  height: 1px;
  background-color: white;
}

/* Game details*/
.container{
  margin-top: 45px;
}

.row .col{
  border: 1px solid blue;
}

.col1{
  background-color: black;
}

.ff8Details img{
  width: 550px;
  height: 350px;
  border: 1px solid white;
}


















/*Go to Top and footer*/
.goback {
  color: white;
  border-radius: 50%;
  background: blue;
  margin: 18px 29px;
}

footer {
  background-color: #343a40;
  height: 100%;
  color: white;
  padding: 10px;
  text-align: center;
}

footer a {
  color: inherit;
}

#portfolio {
  text-decoration: underline white;
}
