/*General CSS for all PlayStation game pages*/
body {
  background-color: #002055;
  background-image: radial-gradient(ellipse 50% 70% at 50% 0, #002c74 20%, #001536);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

html {
  height: 100%;
}

/*Header & Nav */
.header {
  background: #343a40;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

.header-title {
  text-align: center;
  color: white;
}

header hr {
  border: 0;
  width: 300px;
  height: 1px;
  background-color: white;
}

/*Game details*/
.container-fluid {
  color: white;
  flex: 1;
  width: 95%;
  margin-top: 15px;
  padding: 20px;
  background: rgba(0, 0, 0, .6);
}


/* SlideShow*/
.slideShow {
  height: 350px;
}

.slideShow img {
  width: 400px;
  height: 250px;
}

#slideimg {
  Width: 100%;
  cursor: pointer;
  height: 50px;
}

.w3-content, .w3-auto {
  margin-left: auto;
  margin-right: auto
}

.w3-content {
  max-width: 980px;
}

.w3-auto {
  max-width: 1140px
}

.w3-section, .w3-code {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third, .w3-row-padding>.w3-twothird, .w3-row-padding>.w3-threequarter, .w3-row-padding>.w3-quarter, .w3-row-padding>.w3-col {
  padding: 0 8px;
}

.w3-col.s3 {
  width: 24.99999%;
}

.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
  float: left;
  width: 100%;
}

/* Cart Price and Sites*/
.colbtn {
  background-color: #262b34;
  padding: 10px 10px;
  border: 1px solid white;
  width: 95%;
}

.cartArea {
  padding: 05px;
  margin: 0 5px;
}

.cartArea h5 {
  text-align: center;
}

.qty-box {
  margin-left: 15%;
}

.qty-box-input {
  width: 55px;
}

.cartbtn {
  padding: .625rem 1.25rem;
  margin: .3125rem 0 .75rem;
  border: none;
  border-radius: .125rem;
  font-size: 1.125rem;
  background-color: #d6d6d6;
  color: #373737;
  cursor: pointer;
  line-height: 1.25rem;
}

.cartbtn:hover {
  background-color: #dfdfdf;
}

#mainSite {
  font-weight: 200;
  letter-spacing: .1em;
  text-decoration: none;
  color: white;
  padding-top: 15px;
}

#mainSite a {
  color: inherit;
}

.steam {
  font-family: "Motiva Sans", Sans-serif
}

.steamImg {
  width: 125px;
}

.psStore {
  width: 175px;
}

/*Go to Top and footer*/
.goback {
  color: white;
  border-radius: 50%;
  background: blue;
  margin: 18px 29px;
}

footer {
  background-color: #343a40;
  height: 100%;
  color: white;
  padding: 10px;
  text-align: center;
}

footer a {
  color: inherit;
}

#portfolio {
  text-decoration: underline white;
}
