/*Header & Nav */
.header {
  background: #343a40;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

.header-title {
  text-align: center;
  color: white;
}

header hr {
  border: 0;
  width: 300px;
  height: 1px;
  background-color: white;
}

/*Into and banner image */
.intro {
  margin: auto;
  margin-top: 15px;
  background-image: url('../imgs/bg.jpg');
  background-size: cover;
  max-width: 780px;

}

.jumbotron {
  width: 100%;
  background: transparent;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.display-4, .lead {
  text-shadow: black 0.3em 0.3em 0.3em;
}

/* Model for intro*/
#info {
  color: black;

}
